repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: fix-byte-order-marker
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: .md
- repo: https://github.com/pycqa/pylint
  rev: v2.13.5
  hooks:
  -   id: pylint
- repo: https://github.com/godaddy/tartufo
  rev: v3.1.4
  hooks:
    - id: tartufo
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.942
  hooks:
  - id: mypy
    args: [--ignore-missing-imports, --follow-imports=silent]
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      language_version: python3.7
